<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-Commerce</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
</br>
{% if messages %}
{% for message in messages %}
<div class="text-center">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"></h4>
  {{ message }}
</div>
</div>

{% endfor %}
{% endif %}
<div class="">
  
</div>


<div class="row row-cols-6 row-cols-md-6">
  <div class="col mb-4">
    <div class="card text-center">
    <div class="card-header">
    <h3>This is from E- Commerce for Login</h3>
  </div>

  </br>
</br>
</br>
</br>
<form method='POST'>
{% csrf_token %}
{{form.as_p}}
<button class="btn btn-outline-secondary" type="submit">Log In</button>
</form>

  <div class="card-footer text-muted">
  <h4> Wel-come </h4>
  </div>
  </div>
  </div>
  </div>

</body>
</html>